<% include ../partials/header %>
<br>
<div class="row">
  <div class="col-md-3">
    <p class="lead">YelpCamp</p>
    <div class="list-group">
      <li class="list-group-item active">Info 1</li>
      <li class="list-group-item">Info 2</li>
      <li class="list-group-item">Info 3</li>
    </div>
  </div>
  <div class="col-md-9">
    <div class="img-thumbnail">
      <img class="img-responsive" src="<%= campground.image %>">
      <div class="caption-full">
        <h4 class="float-right">$9.00/night</h4>
        <a href=""><h4><%= campground.name %></h4></a><h5>(<%= campground.des %>)</h5>
        <p><%= campground.moreDesc %></p>
        <p>
            <em>Submitted BY <%= campground.author.username %></em>
        </p>
        <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
        <a class="btn btn-sm btn-outline-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
        <form id="form_delete" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
          <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <br>
    <a class="btn btn-secondary btn-block" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
    <% campground.comments.forEach(function(comment){ %>
    <div class="card bg-light">
      <div class="card-body">
        <strong class="card-title"><%= comment.author.username %></strong>
        <span class="float-right">10 days ago</span>
        <p class="card-text"><%= comment.text %></p>
        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
        <a class="btn btn-sm btn-outline-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
        <form id="form_delete" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
          <input type="submit"  class="btn btn-sm btn-outline-danger" value="Delete">
        </form>
        <% } %>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<hr>
<div >
  <a href="https://en.wikipedia.org/wiki/<%= campground.name %>" class="btn btn-outline-info btn-block">Click Here For detail Description about <%= campground.name %></a>
</div>

<% include ../partials/footer %>
